API_ACCESS=api_access_token
JWT_SECRET=your_secret_key
CLIENT_URL=
CLIENT_PORT=5173

TARGET_DATABASE=psql
TARGET_EMAIL=nodemailer
TARGET_STORAGE=local
TARGET_CACHE=redis
TARGET_QUEUE=bullmq
TARGET_SOCKET=socketio


# ---------------------------------------
### PART: DATABASE 
# ---------------------------------------
# PSQL
PSQL_DATABASE_DEVELOPMENT=postgresql://yourusername:123@localhost:5432/database_test
PSQL_DATABASE_PRODUCTION=
PSQL_DATABASE_DEPLOYED=


# ---------------------------------------
### PART: EMAIL
# ---------------------------------------
# RESEND
RESEND_EMAIL_API_KEY=
RESEND_EMAIL_FROM=
# NODEMAILER
NODEMAILER_EMAIL_SMTP_HOST=smtp.gmail.com
NODEMAILER_EMAIL_SMTP_PORT=587
NODEMAILER_EMAIL_SMTP_USER=
NODEMAILER_EMAIL_SMTP_PASS=
NODEMAILER_EMAIL_FROM=


# ---------------------------------------
### PART: STORAGE
# ---------------------------------------
# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# LOCAL
LOCAL_STORAGE_PATH=uploads
LOCAL_STORAGE_BASE_URL=http://localhost:3000


# ---------------------------------------
### PART: CACHE
# ---------------------------------------
# REDIS
CACHE_DEVELOPMENT=redis://localhost:6379
CACHE_PRODUCTION=
CACHE_DEPLOYED=


# ---------------------------------------
### PART: QUEU
# ---------------------------------------
# BULLMQ
QUEUE_DEVELOPMENT=redis://localhost:6379
QUEUE_PRODUCTION=
QUEUE_DEPLOYED=