# MODE CAN BE development, production and deployed
# Development and Production is still running in localhost, only deployed changed
API_ACCESS=api_access_token
JWT_SECRET=your_secret_key

# THIS IS THE FRONTEND/BACKEND URL
DEPLOYED_FRONTEND_URL=
DEPLOYED_BACKEND_URL=

TARGET_DATABASE=psql
TARGET_EMAIL=nodemailer
TARGET_STORAGE=local
TARGET_CACHE=redis
TARGET_QUEUE=bullmq
TARGET_SOCKET=socketio


# ---------------------------------------
### PART: DATABASE 
# ---------------------------------------
# PSQL
PSQL_DATABASE_DEVELOPMENT=postgresql://yourusername:123@localhost:5432/database_test
PSQL_DATABASE_PRODUCTION=
PSQL_DATABASE_DEPLOYED=
PSQL_DATABASE_ELECTRON=postgresql://yourusername:123@localhost:5432/database_test


# ---------------------------------------
### PART: EMAIL
# ---------------------------------------
# RESEND
RESEND_EMAIL_API_KEY=
RESEND_EMAIL_FROM=
# NODEMAILER
NODEMAILER_EMAIL_SMTP_HOST=smtp.gmail.com
NODEMAILER_EMAIL_SMTP_PORT=587
NODEMAILER_EMAIL_SMTP_USER=
NODEMAILER_EMAIL_SMTP_PASS=
NODEMAILER_EMAIL_FROM=


# ---------------------------------------
### PART: STORAGE
# ---------------------------------------
# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# LOCAL
LOCAL_STORAGE_PATH=uploads

# ---------------------------------------
### PART: CACHE
# ---------------------------------------
# REDIS
CACHE_DEVELOPMENT=redis://localhost:6379
CACHE_PRODUCTION=
CACHE_DEPLOYED=
CACHE_ELECTRON=redis://localhost:6379

# ---------------------------------------
### PART: QUEU
# ---------------------------------------
# BULLMQ
QUEUE_DEVELOPMENT=redis://localhost:6379
QUEUE_PRODUCTION=
QUEUE_DEPLOYED=
QUEUE_ELECTRON=redis://localhost:6379