API_ACCESS=your_secret_token_here
JWT_SECRET=super_secret_key

PSQL_DATABASE_DEVELOPMENT=postgresql://jdm:123@localhost:5432/test_react_express
PSQL_DATABASE_PRODUCTION=
PSQL_DATABASE_DEPLOYED=
TARGET_DATABASE=psql